// Styles Footer

.footer {
    margin-top: 120px;
    width: calc(100% - 60px);
    display: flex;
    flex-direction: column;
    border-top: 1px solid $color-dark;
    padding: 30px;
    &__link {
        text-decoration: none;
        font-weight: 700;
        font-size: 16px;
        margin-bottom: 15px;
        transition: $transition;
        &:hover {
            color: $color-primary;
        }
    }
    &__author {
        font-size: 14px;
        line-height: 12px;
    }
}
